BOT_TOKEN=replace_with_your_discord_bot_token
SERVER_LOCATION=Seoul, KR
DISCORD_APPLICATION_ID=replace_with_your_discord_application_id
DISCORD_COMMAND_SCOPE=guild
DISCORD_GUILD_ID=replace_with_your_server_id
VOICE_GUILD_ID=replace_with_your_server_id
VOICE_CHANNEL_ID=replace_with_your_voice_channel_id

DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=s29_bots
DATABASE_USER=s29
DATABASE_PASSWORD=replace_with_a_database_password

REDIS_URL=redis://127.0.0.1:6379
HTTP_HOST=0.0.0.0
HTTP_PORT=3000
